<ion-header>
  <ion-toolbar>
    <ion-title>Ejecución</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Imagen o GIF -->
  <div class="image-container">
    <img [src]="exerciseImage" alt="Ejercicio" />
  </div>

  <!-- Descripción o consejo -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ exerciseName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ exerciseDescription }}
    </ion-card-content>
  </ion-card>

  <div class="series-counter">
    <ion-button color="danger" (click)="decreaseSeries()">-</ion-button>
    <span>{{ currentSeries }}/{{ totalSeries }}</span>
    <ion-button color="success" (click)="increaseSeries()">+</ion-button>
  </div>

  <ion-item>
    <ion-label position="floating">Peso usado (kg)</ion-label>
    <ion-input type="number" [(ngModel)]="weight"></ion-input>
  </ion-item>

  <div class="timer">
    <ion-item>
      <ion-label position="floating">Tiempo (minutos)</ion-label>
      <ion-input type="number" [(ngModel)]="timerMinutes"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="startTimer()" [color]="hasStarted ? 'danger' : 'primary'">
      @if(hasStarted && timeLeft > 0) {
      {{ timeLeft }}'s
      } @else {
      Iniciar Temporizador
      }
    </ion-button>
  </div>

</ion-content>