<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ muscleChosen }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ muscleChosen }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="grid">
    <ion-row class="tiles-row">
      @for (part of parts; track $index) {
      <ion-item class="tile-card" class="muscle-part" (click)="selectPart(part)">
        {{ part }}
      </ion-item>
      }
    </ion-row>
  </ion-grid>
</ion-content>