<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejercicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ejercicios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="grid">
    <ion-row class="tiles-row">
      @for (exerciseInfo of exerciseTable; track $index) {
      <ion-item class="tile-card" (click)="selectExercise(exerciseInfo)">
        {{ exerciseInfo.title ?? null }}
      </ion-item>
      }
    </ion-row>
  </ion-grid>

</ion-content>